body {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: auto;
}
div.top {
  background-color: rgb(254, 58, 58);
  position: static;
  text-align: end;
}

div.top p {
  font-style: bolder;
  color: whitesmoke;
  margin: 1%;
  width: fit-content;
  display: inline-block;
  justify-content: center;
  justify-content: center;
}
section.History {
  display: inline-block;
  justify-content: right;
}
